body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.my-name{
    color: orangered;
    font-weight: 700;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
   color: dimgray;
}
section{
    display: flex;
   /* height: 500px;
   padding-bottom: 150px; */
}
.half-width
{
    width: 40%;
    margin-left: 100px;
    margin-bottom: 100px;
    
}

img{
    width: 80%;
}
.top-banner{
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    padding: 10px 50px;
    background-image: linear-gradient(orange,tomato);
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.middle-section{
    background-image: url(../images/dream-bg.png);
    /* height: 500px; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right;
}

.third-section{
    background-image: url(../images/exp-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: left;
}

